ENV=development
POSTGRES_USER=your-db-user
POSTGRES_PASSWORD=your-db-pwd
POSTGRES_DB=your-db-name
DATABASE_URL=postgres://your-db-name:your-db-pwd@127.0.0.1:5435/pivotedb?sslmode=disable
REDIS_URL=redis://localhost:6379
RABBITMQ_URL=amqp://your-rabbitmq-user:your-rabbitmq-pwd@127.0.0.1:5672/
RABBITMQ_DEFAULT_USER=your-rabbitmq-user
RABBITMQ_DEFAULT_PASS=your-rabbitmq-pwd
JWT_SECRET=your-secret-key
RESEND_API_KEY=your-secret-key-from-resend
